/* RESET ONLY — do not style layout here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL PAGE RESET – removes white corners */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--body-bg) !important;
}

/* Prevent white gaps when page becomes taller */
body {
  min-height: 100vh;
  overflow-x: hidden;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    padding-top: 120px
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Anton&display=swap');

